@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

* {
  box-sizing: border-box;
}
body {
  display: flex;
  font-family: "Orbitron", sans-serif;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  padding: 1.5rem;
}

.container {
  background: linear-gradient(to bottom right, rgb(109, 106, 106), black);
  text-align: center;
  box-shadow: 0 10px 41px 0 rgb(185, 224, 240);
  border-radius: 20px;
  max-height: 100%;
}

#clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: auto;
  font-size: 3rem;
  padding: 2rem;
  color: rgb(209, 35, 36);
}

/* Media queries for Desktop/Tablets */

@media (min-width: 40rem) {
  .container {
    border-radius: 20px;
    margin: 10rem;
  }

  #clock {
    font-size: 3.5rem;
  }
}

@media (min-width: 1400px) {
  .container {
    margin: 30rem;
  }
}
